.logo{
    width: 200px !important;
}
.headernavbar_link{
    color: #eb5455 !important;
    text-decoration: underline;
    font-size: 23px;
    border-bottom: 3px solid transparent;

}
.headernavbar_link:hover{
    color: #ff9520 !important;
    border-bottom: 3px solid #ff9520;
}

.loading_image {
    animation: 5s infinite linear;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2{
    margin-bottom: 10px
}
