.home_image{
    width: 100%;
}
.home_subimage{
    width: 75%
}
.red_text{
    color: #eb5455;
    font-size: 65px;
}

p {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
p span { 
     background:#fff; 
     padding:0 10px; 
 }

.background_color{
    margin-top: 30px;
}