.search_input:focus{
    box-shadow: none !important;
    border-color: #ced4da !important
}
.search_input{
    color: rgb(155, 150, 150) !important
}
#basic-addon1{
    background-color: white;
    color: rgb(235,84,85);
    width: 35%
}

::placeholder{
    color: rgb(126, 123, 123) !important
}
#input-group-dropdown-1{
    background-color: white;
    color: rgb(155, 150, 150);
    width: 65%;
    border: 1px solid rgb(228, 224, 224) !important
}
#input-group-dropdown-1:focus{
    box-shadow: none !important;
}
.dropdown-menu.show{
    width: 65%
}
.dropdown-item{
    color:  rgb(155, 150, 150) !important;
    background-color: white !important;
}
.btn-outline-secondary.dropdown-toggle.show:focus, .btn-outline-secondary:active:focus{
    box-shadow: none !important;
}
.fiter_items{
    display: flex;
    flex-direction: column;
    color: rgb(155, 150, 150);
    margin-top: 15px;
}
.form-check-input:checked{
    border-color: rgb(235,84,85) !important;
    background-color: rgb(235,84,85) !important;
}
.filter-by{
    color: rgb(235,84,85);
    border-bottom: 2px solid rgb(235,84,85);
    padding-bottom: 5px;
    cursor: default;
}
.pagination{
    justify-content: center !important;
}
.page-link{
    color: rgb(235,84,85) !important;
}
.page-item.active .page-link{
    background-color: rgb(235,84,85) !important;
    border-color: rgb(235,84,85) !important;
    color: white !important;
}

.form-check-input:focus {
    box-shadow: none !important;
}
.dropdown-toggle::after{
    margin-left: 50% !important
}